In [1]:
print("Hello World")

Hello World

In [2]:
a = 3+1

In [3]:
print(a)

4

In [4]:
print("three plus one is", a)

three plus one is 4

In [5]:
first_name = "Joe"
last_name = "Butkovic"
print(first_name,last_name)

Joe Butkovic

In [6]:
print("Given Name","\t","Surname","\n",first_name,"\t",last_name)

Given Name 	 Surname
 Joe Butkovic

In [7]:
print("Given Name","\t","Surname","\n",first_name,"\t","\t",last_name)

Given Name 	 Surname
 Joe 	 Butkovic

In [8]:
print("Given Name","\t","Surname","\n",first_name,"\t","\t",last_name)

Given Name 	 Surname
 Joe 	 	 Butkovic

I had to make a few attempts to get the names lined up.

In [9]:
print(first_name+" "+last_name)

Joe Butkovic

In [10]:
first_name.

SyntaxError: invalid syntax (<ipython-input-10-e69e083fcfea>, line 1)

I escaped the line just to show i did it. I used tab and it populated the dropdown next to it. The error was intentional.

1.) Joe Butkovic
2.) I am interested in data science because I want to make data driven decisions to help influence major business and technical decisions. I currently work as a DBA and I would soon like to be working more as a data scientist. 
3.) I took some programming classes in college, such as intorductory c++ and Java courses. On my job as a DBA right now I mostly program in SQL and PowerShell. I use SQL and PowerShell to perform mostly maintencance tasks for our SQL Servers. I also spend some time with report writing through stored procedures in SQL as well as creating SSIS packages to move and transform data. 
4.) I have taken 2 statistics courses in my undergrad. I do some statistics through my job though not as much as I would like to. Just normal maintenance statistics to monitor the health of our SQL Server environment. 
5.) I do not have any experience with R, but I do have a little Python experience as I took a course in college that had Python integrated into it. 
6.) I hope to learn how to utilize python and R in order to make data driven decisions and have a certain level of confidence when making those decisions. '
7.) I look forward to learning from you this semester!